/* Red text animation*/
.redTextAni {
    color: rgb(204, 34, 71);
    position: relative;
    -webkit-animation-name: redText; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: redText;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes redText {
    0%   {color:rgb(204, 34, 71);}
    25%  {color:white;}
    50%  {color:rgb(204, 34, 71);}
    75%  {color:white;}
    100% {color:rgb(204, 34, 71);}
  }
  
  /* Standard syntax */
  @keyframes redText {
    0%   {color:rgb(204, 34, 71);}
    25%  {color:white;}
    50%  {color:rgb(204, 34, 71);}
    75%  {color:white;}
    100% {color:rgb(204, 34, 71);}
  }
  /* end Red text animation*/