.pantalla{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
}
.pagina{
    background:transparent;
    width: 1400px;
    overflow: hidden;
    margin: 0 auto;
}
.enca{
    top:0px;
    width: 100%;
    height: 85px;
    color: blue;
    font-size: 30pt;
    text-align: center;
    background:transparent;
    font-family: fantasy;
    z-index: 3;
    text-shadow: -0.05em 0.05em rgba(76, 78, 20, 0.5);
    cursor: pointer;
}.menu{
    background:transparent;
    position: relative;
    width: 100%;
    float: top;
    overflow: hidden;
    height:40px;
}
.contenedor{
    background:transparent;
    float: right;
    position: relative;
    width: 100%;
    float: top;
    overflow: hidden;
    height:auto;
    color: black;

}

.pie{
    background:transparent;
    position: relative;
    float: left;
    width: 100%;
    color: yellow;
    font-family:calibri;
    font-size: 12pt;
    height:90px;
}

.myButton {
	-moz-box-shadow:inset -4px -10px 13px -2px #ffffff;
	-webkit-box-shadow:inset -4px -10px 13px -2px #ffffff;
	box-shadow:inset -4px -10px 13px -2px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Times New Roman;
	font-size:14px;
	font-weight:bold;
	padding:4px 19px;
	text-decoration:none;
	text-shadow:1px 14px 16px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*  BOTONES REDES SOCIALES*/
a.ss3dbutton {
    //background:#00FF7F; 
    color: black;
    text-decoration: none;
    font: bold 12px Arial;
    position: relative;
    display: inline-block;
    margin-right: 1px; 
    padding: 2px; 
    border-radius: 100%; 
    width: 40px; 
    height: 40px;
    outline: none;
    box-shadow: 0 8px 0 #8dab3b, 
        0 0 3px rgba(0,0,0, 0.2),
        0 10px 10px #eee;
    -moz-transition: all 0.2s ease-in-out; 
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a.ss3dbutton:hover {
    box-shadow:  none;
    -ms-transform: translateY(8px);
    -webkit-transform: translate3D(0, 607px, 0);
    -moz-transform: translateY(8px);
    transform: translate3D(0, 8px, 0);
}
a.ss3dbutton.blue{
    box-shadow: 0 8px 0 #529dad, 
        0 0 3px rgba(0,0,0, 0.2),
        0 20px 20px #eee;
}
a.myButton.blue:hover {
    box-shadow: none;
}
a.myButton.pink{
    box-shadow: 0 8px 0 #d74848,
        0 0 3px rgba(0,0,0, 0.2),
        0 20px 20px #eee;
}
a.myButton.pink:hover {
    box-shadow: none;
}
a.myButton.yellow{
    box-shadow: 0 8px 0 #dbcd2f, 
        0 0 3px rgba(0,0,0, 0.2),
        0 20px 20px #eee;
}
a.myButton.yellow:hover {
    box-shadow: none;
}
